body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #121212;
}

ol, ul {
  padding-left: 0px;
}

ul {
	list-style-type: none;
}

li {
	white-space: pre;
	color: gray;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
