body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #121212;
}

ol, ul {
  padding-left: 0px;
}

ul {
	list-style-type: none;
}

li {
	white-space: pre;
	color: gray;
}
.console {
    display: flex;
    flex-direction: row;
    height: 25px;
}

.consoleForm {
    display: flex;
    flex-direction: row;
}

.console > *{
    margin-right: 10px;
}
.arrowLeft, .arrowRight {
    filter: invert(53%) sepia(1%) saturate(0%) hue-rotate(265deg) brightness(95%) contrast(85%);
}

.status {
  margin-bottom: 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
